.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.scroll__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.scroll__icon {
    height: 30px;
    fill: white;
}