.user-info {
  display: flex;
}

.user-info__desc {
  text-align: end;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}

.user-info__name {
  text-align: start;
  font-size: 72px;
  font-weight: 800;
  line-height: 0.83;
}